@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  html, body {
    width: 1500px;
    margin: 0 auto;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  @page {
    margin: 0;
  }

  body {
    margin: 0;
  }
}

@keyframes logoCycle5 {
  0% { transform: translateX(50%); }
  20% { transform: translateX(50%); }
  25% { transform: translateX(-500%); }
  60% { transform: translateX(-500%); }
  65% { transform: translateX(50%); }
  100% { transform: translateX(50%); }
}
@keyframes logoCycle4 {
  0% { transform: translateX(50%); }
  20% { transform: translateX(50%); }
  25% { transform: translateX(-270%); }
  60% { transform: translateX(-270%); }
  65% { transform: translateX(50%); }
  100% { transform: translateX(50%); }
}
@keyframes logoCycle3 {
  0% { transform: translateX(50%); }
  20% { transform: translateX(50%); }
  25% { transform: translateX(0%); }
  60% { transform: translateX(0%); }
  65% { transform: translateX(50%); }
  100% { transform: translateX(50%); }
}
@keyframes logoCycle2 {
  0% { transform: translateX(50%); }
  20% { transform: translateX(50%); }
  25% { transform: translateX(260%); }
  60% { transform: translateX(260%); }
  65% { transform: translateX(50%); }
  100% { transform: translateX(50%); }
}
@keyframes logoCycle1 {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(500%); }
  60% { transform: translateX(500%); }
  65% { transform: translateX(0); }
  100% { transform: translateX(0); }
}
@keyframes logoCycle6 {
  0% { transform: translateX(-1120%); }
  20% { transform: translateX(-1120%); }
  25% { transform: translateX(100%); }
  60% { transform: translateX(100%); }
  65% { transform: translateX(-1120%); }
  100% { transform: translateX(-1120%); }
}

.letter {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.animate-logoCycle .letter:nth-child(5) {
  animation: logoCycle5 5s infinite ease-in-out;
}
.animate-logoCycle .letter:nth-child(4) {
  animation: logoCycle4 5s infinite ease-in-out;
  animation-delay: 0.1s;
}
.animate-logoCycle .letter:nth-child(3) {
  animation: logoCycle3 5s infinite ease-in-out;
  animation-delay: 0.2s;
}
.animate-logoCycle .letter:nth-child(2) {
  animation: logoCycle2 5s infinite ease-in-out;
  animation-delay: 0.3s;
}
.animate-logoCycle .letter:nth-child(1) {
  animation: logoCycle1 5s infinite ease-in-out;
  animation-delay: 0.4s;
}
.animate-logoCycle .letter:nth-child(6) {
  animation: logoCycle6 5s infinite ease-in-out;
  animation-delay: 0.5s;
}